---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
import {
  LuBookOpenCheck,
  LuBrainCircuit,
  LuCircuitBoard,
  LuCodesandbox,
} from "react-icons/lu";
import {
  service1List,
  service2List,
  service3List,
} from "@/data/servicesData.ts";
import ServiceItem from "./ServiceItem.astro";

// inspiration: https://flowbite.com/blocks/marketing/feature/
---

<section class="py-10">
  <ResponsiveLayout>
    <!-- SERVICE 1 -->
    <ServiceItem
      title="Consultoría y desarrollo de modelos de sistemas"
      Icon={LuCodesandbox}
      description="Servicios integrales de consultoría y desarrollo que van desde la identificación de necesidades y el diseño de soluciones hasta la implementación y validación continua de sistemas y modelos, todo ello en colaboración estrecha con el cliente y siguiendo metodologías ágiles para garantizar la máxima eficiencia y satisfacción del cliente."
      list={service1List}
    />
    <!-- SERVICE 2 -->
    <ServiceItem
      title="Software"
      Icon={LuCircuitBoard}
      description="Servicios de desarrollo de software para encapsular los modelos de sistemas en aplicaciones personalizadas que permiten la modificación de parámetros, la visualización y el análisis de resultados. Estas aplicaciones se diseñan para ser intuitivas y fáciles de usar, y pueden integrarse con los sistemas existentes del cliente según sea necesario."
      list={service2List}
    />
    <!-- SERVICE 3 -->
    <ServiceItem
      title="Gestión del conocimiento"
      Icon={LuBookOpenCheck}
      description="Servicios de gestión del conocimiento que incluyen capacitación personalizada en el software desarrollado, centrándose en la carga de datos, el análisis de resultados y la toma de decisiones óptimas. Esta capacitación se ofrece con materiales de apoyo, enfoque en la toma de decisiones estratégicas y soporte continuo para garantizar que los usuarios puedan utilizar eficazmente el software y maximizar su valor en su organización."
      list={service3List}
    />
    <!-- SERVICE 4 -->
    <ServiceItem
      title="I + D + i"
      Icon={LuBrainCircuit}
      description="Servicios que incluyen la formulación y ejecución de proyectos que utilizan Business Intelligence e Inteligencia Artificial para resolver problemas específicos, mejorar la eficiencia operativa y generar valor para el cliente. Estos proyectos se diseñan para aprovechar al máximo las tecnologías emergentes y están respaldados por un enfoque de mejora continua para garantizar su éxito a largo plazo."
      list={service1List}
    />
  </ResponsiveLayout>
</section>
