---
import { type FC } from "react";
import { FaCircleCheck } from "react-icons/fa6";
import ServicesIcon from "../../components/iconos/ServiceIcons.astro";
import { Image } from "astro:assets";

interface Props {
  Icon: FC;
  title: string;
  description: string;
  list: string[];
  image: ImageMetadata;
}

const { Icon, title, description, list, image } = Astro.props;
---

<div class="bg-cardBackground p-10 rounded-3xl mb-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2 items-center">
    <div class="space-y-3">
      <div class="flex items-center">
        <ServicesIcon>
          <Icon />
        </ServicesIcon>
        <h3 class="text-balance text-2xl">
          {title}
        </h3>
      </div>
      <p>
        {description}
      </p>
      <div class="w-1/2 h-1 bg-primary"></div>
      <div class="pt-2">
        <ul class="space-y-2">
          {
            list.map((item) => (
              <li>
                <FaCircleCheck className="text-primary" />
                <h3>{item}</h3>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div>
      <Image src={image} alt={title} class="rounded-lg" />
    </div>
  </div>
</div>

<style>
  p {
    color: var(--paragraph);
  }
  li {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
</style>
