---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
import dashboardImage from "@/assets/img/browser_tg.png";
import animalsImage from "@/assets/img/tg4_Animales-min.jpeg";
import localitationImage from "@/assets/img/tg2.jpeg";
import healthyImage from "@/assets/img/tg1.jpeg";
import { Image } from "astro:assets";
import {
  LuActivitySquare,
  LuClipboardList,
  LuLocateFixed,
} from "react-icons/lu";

import FunctionalityItem from "./FunctionalityItem.astro";
---

<section class="bg-cardBackground py-[10rem]">
  <ResponsiveLayout>
    <section class="mx-auto max-w-screen-xl px-4 items-center lg:flex md:px-8">
      <div class="space-y-4 flex-1 sm:text-center lg:text-left">
        <h1 class="font-bold text-4xl xl:text-5xl text-pretty">
          Simplifica la gestión y optimiza tu experiencia en el
          <span class="text-primary"> Dashboard</span>
        </h1>
        <p class="max-w-xl leading-relaxed sm:mx-auto lg:ml-0">
          Nuestro Dashboard te proporciona una visión integral de tu operación
          ganadera. Gráficas detalladas sobre el rendimiento de tus productos
          ganaderos, nuestra plataforma te ofrece todas las herramientas
          necesarias para optimizar la gestión de tu ganado y maximizar tu
          productividad
        </p>
      </div>
      <div class="flex-1 mt-4 lg:mt-0 lg:ml-3">
        <Image src={dashboardImage} alt="Dashboard" class="w-full" />
      </div>
    </section>

    <div class="py-10">
      <h1 class="text-center bg-primary rounded-md">Principales Modulos</h1>
    </div>

    <FunctionalityItem
      Icon={LuClipboardList}
      title="Gestión"
      description="Desde el seguimiento detallado de la genealogía hasta el registro financiero y la gestión de actividades, este nuevo módulo te proporciona todas las herramientas necesarias para optimizar tu operación ganadera en un solo lugar."
      image={animalsImage}
    />
    <br />
    <FunctionalityItem
      Icon={LuLocateFixed}
      title="Localización"
      description="Realizamos un análisis sincrónico utilizando cámaras y drones para monitorear la salud del ganado en tiempo real. Además, ofrecemos la opción de análisis asíncrono, donde puedes subir imágenes para un diagnóstico detallado y preciso de la salud de tus animales."
      image={localitationImage}
    />
    <br />
    <FunctionalityItem
      Icon={LuActivitySquare}
      title="Salud"
      description="Desde el seguimiento detallado de la genealogía hasta el registro financiero y la gestión de actividades, este nuevo módulo te proporciona todas las herramientas necesarias para optimizar tu operación ganadera en un solo lugar."
      image={healthyImage}
    />
  </ResponsiveLayout>
</section>
