---
import { Image } from "astro:assets";
import opper from "../../assets/img/opperapp1.png";
import opper2 from "../../assets/img/opperapp2.png";
import opper3 from "../../assets/img/opperapp3.png";
import tg from "../../assets/img/tg1.jpeg";
import tg3 from "../../assets/img/tg3.jpeg";
import tg2 from "../../assets/img/tg2.jpeg";
import ResponsiveLayout from "../../layouts/ResponsiveLayout.astro";
---

<section class="relative bg-cardBackground">
  <ResponsiveLayout>
    <div class="h-1/2 grid gap-2 p-10 grid-cols-2 md:grid-cols-3">
      <Image
        src={opper}
        alt="OpperApps"
        class="h-full object-cover rounded-lg"
      />
      <Image
        src={tg2}
        alt="The Goodness"
        class="h-full object-cover rounded-lg"
      />
      <Image
        src={opper2}
        alt="OpperApps"
        class="h-full object-cover rounded-lg"
      />
      <Image
        src={tg}
        alt="The Goodness"
        class="h-full object-cover rounded-lg"
      />
      <Image src={opper3} alt="OpperApps" class="h-full object-coverunded-lg" />
      <Image
        src={tg3}
        alt="The Goodness"
        class="h-full object-cover rounded-lg"
      />
    </div>
    <div
      class="absolute top-0 bottom-0 w-full h-full flex flex-col gap-8 justify-center items-center bg-cardBackground/90 backdrop-blur-[2px] rounded-lg"
    >
      <h1 class="text-3xl md:text-6xl font-bold text-center">
        ¡Bienvenido a <b>OPPER</b>!
      </h1>
      <p class="text-lg w-full md:w-1/2 text-center">
        Potencia tu empresa con soluciones innovadoras y personalizadas. En <b
          >Opper</b
        >, fusionamos tecnología de vanguardia con estrategias probadas para <b
          >impulsar tu negocio hacia el éxito.</b
        >
      </p>
    </div>
  </ResponsiveLayout>
</section>

<style>
  b {
    color: var(--primary);
  }
</style>
