---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
import reactIcon from "@/assets/img/react.svg";
import djangoIcon from "@/assets/img/django.svg";
import nestjsIcon from "@/assets/img/nestjs.svg";
import nodejsIcon from "@/assets/img/nodejs.svg";
import postgresqlIcon from "@/assets/img/postgresql.svg";
import pythonIcon from "@/assets/img/python.svg";
import tailwindIcon from "@/assets/img/tailwind-css.svg";
import astroIcon from "@/assets/img/astro.svg";
import awsIcon from "@/assets/img/aws.svg";
import dockerIcon from "@/assets/img/docker.svg";
import fastapiIcon from "@/assets/img/fastapi.svg";
import typescriptIcon from "@/assets/img/typescript.svg";

import { Image } from "astro:assets";
---

<section class="w-full pb-[4rem]">
  <ResponsiveLayout>
    <div class="text-center">
      <h1 class="uppercase">Stack Tecnológico</h1>
      <p class="text-paragraph">
        Echa un vistazo a las tecnologías y frameworks que conforman el núcleo
        de nuestros Productos
      </p>
    </div>
    <div class="mt-12 flex justify-center">
      <ul
        class="inline-grid grid-cols-2 gap-x-10 gap-y-6 md:gap-x-16 md:grid-cols-3 lg:grid-cols-4"
      >
        {/* LOGO 1 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={reactIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">React</h3>
        </li>

        {/* LOGO 2 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={reactIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">React Native</h3>
        </li>

        {/* LOGO 3 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={djangoIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">Django</h3>
        </li>

        {/* LOGO 4 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={nestjsIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">NestJs</h3>
        </li>

        {/* LOGO 5 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={nodejsIcon} alt="React" class="w-32 my-auto" />
        </li>

        {/* LOGO 6 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={postgresqlIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">PostgreSQL</h3>
        </li>

        {/* LOGO 7 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={pythonIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">Python</h3>
        </li>

        {/* LOGO 8 */}
        <li class="flex items-center justify-center">
          <Image
            src="https://github.com/ultralytics/assets/raw/main/logo/Ultralytics_Logotype_Reverse.svg"
            alt="Ultralytics"
            width={150}
            height={48}
          />
        </li>

        {/* LOGO 9 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={tailwindIcon} alt="React" class="w-32 my-auto" />
        </li>

        {/* LOGO 10 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={astroIcon} alt="React" class="w-32 my-auto" />
        </li>

        {/* LOGO 11 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={awsIcon} alt="React" class="w-24 my-auto" />
        </li>

        {/* LOGO 12 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={dockerIcon} alt="React" class="w-32 my-auto" />
        </li>

        {/* LOGO 13 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={fastapiIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">FastAPI</h3>
        </li>

        {/* LOGO 14 */}
        <li class="flex justify-center items-center gap-2">
          <Image src={typescriptIcon} alt="React" class="w-14 my-auto" />
          <h3 class="text-xl">TypeScript</h3>
        </li>
      </ul>
    </div>
  </ResponsiveLayout>
</section>
