---
import ResponsiveLayout from "@/layouts/ResponsiveLayout.astro";
import sacImage from "@/assets/img/Opper-SAC-min.png";
import sac2Image from "@/assets/img/Opper-SAC2-min.png";
import dashboardImage from "@/assets/img/opperapp1.png";
import iaBussinessImage from "@/assets/img/opperapp2.png";
import mapImage from "@/assets/img/opper_mapa_app-min.jpeg";
import { FaRoute } from "react-icons/fa";
import { Image } from "astro:assets";
import {
  LuBarChartHorizontalBig,
  LuBoxes,
  LuBrainCircuit,
  LuCalculator,
} from "react-icons/lu";
---

<section class="bg-cardBackground py-[10rem]">
  <ResponsiveLayout>
    <div>
      <h1 class="text-center bg-primary rounded-md">Principales Modulos</h1>
    </div>
    <br />
    <main class="grid grid-cols-1 md:grid-cols-11 gap-2">
      <!-- ------------------------------------------ -->
      <div
        class="relative overflow-hidden rounded-xl md:col-span-3 row-span-2 p-1"
      >
        <Image src={mapImage} alt="App movil" class="h-full rounded-xl" />
        <div
          class="absolute bg-gradient-to-t from-background to-transparent to-60% inset-0 flex flex-col justify-end p-5"
        >
          <div class="text-xl font-extrabold flex items-end gap-2">
            <FaRoute className="text-primary text-3xl" />
            <h2>Rutas</h2>
          </div>
          <p>Optimizando tus Entregas con la Ruta Perfecta</p>
        </div>
      </div>
      <!-- ------------------------------------------ -->
      <div class="relative overflow-hidden rounded-xl col-span-4 p-1">
        <Image src={sacImage} alt="Opper SAC" class="h-full rounded-xl" />
        <div
          class="absolute bg-gradient-to-t from-background to-transparent to-80% inset-0 flex flex-col justify-end p-5"
        >
          <div class="text-xl font-extrabold flex items-end gap-2">
            <LuBoxes className="text-primary text-3xl" />
            <h2>Sistema SAC</h2>
          </div>
          <p>Simplificando tus Ventas, Inventario y Contabilidad</p>
        </div>
      </div>
      <!-- ------------------------------------------ -->
      <div class="relative overflow-hidden rounded-xl col-span-4 p-1">
        <Image src={sac2Image} alt="Opper POS" class="h-full rounded-xl" />
        <div
          class="absolute bg-gradient-to-t from-background to-transparent to-80% inset-0 flex flex-col justify-end p-5"
        >
          <div class="text-xl font-extrabold flex items-end gap-2">
            <LuCalculator className="text-primary text-3xl" />
            <h2>Sistema POS</h2>
          </div>
          <p>Simplificando tu Punto de Venta con Eficiencia</p>
        </div>
      </div>
      <!-- ------------------------------------------ -->
      <div class="relative overflow-hidden rounded-xl col-span-4 p-1">
        <Image
          src={dashboardImage}
          alt="Opper dashboard"
          class="h-full rounded-xl"
        />
        <div
          class="absolute bg-gradient-to-t from-background to-transparent to-80% inset-0 flex flex-col justify-end p-5"
        >
          <div class="text-xl font-extrabold flex items-end gap-2">
            <LuBarChartHorizontalBig className="text-primary text-3xl" />
            <h2>Panel de control</h2>
          </div>
          <p>Control Total con Nuestro Panel de Control Inteligente</p>
        </div>
      </div>
      <!-- ------------------------------------------ -->
      <div class="relative overflow-hidden rounded-xl col-span-4">
        <Image
          src={iaBussinessImage}
          alt="Inteligencia de negocio"
          class="h-full"
        />
        <div
          class="absolute bg-gradient-to-t from-background to-transparent to-80% inset-0 flex flex-col justify-end p-5"
        >
          <div class="text-xl font-extrabold flex items-end gap-2">
            <LuBrainCircuit className="text-primary text-3xl" />
            <h2>Inteligencia de negocio</h2>
          </div>
          <p>Maximiza tus Decisiones con Inteligencia de Negocios Avanzada</p>
        </div>
      </div>
      <!-- ------------------------------------------ -->
    </main>
  </ResponsiveLayout>
</section>

<!-- <style>
  p {
    color: var(--main);
  }
</style> -->
